<div class="row" ng-controller="AnimaisCtrl as vm">

    <div class="col-lg-11">
        <button type="button" class="btn btn-primary" ng-click="vm.openModal()">
            <i class="glyphicon glyphicon-plus"> </i>
            <span>Cadastrar um animal</span>
        </button>
        <br></br>
        <div data-ng-show="vm.animais.length === 0" class="alert alert-info">
          Não existem animais cadastrados!
        </div>
        <table ng-table="vm.tableAnimais" class="table table-bordered" show-filter="true" data-ng-show="vm.animais.length > 0">
            <tr ng-repeat="animal in $data">
                <td title="'Nome'" filter="{nome:'text'}" sortable="'nome'">
                    {{animal.nome}}
                </td>
                <td title="'RFID'" filter="{ rfid: 'number'}" sortable="'rfid'">
                    {{animal.rfid}}
                </td>
                <td title="'Espécie'" filter="{ especie: 'text'}" sortable="'especie'">
                    {{animal.especie.descricao}}
                </td>
                <td title="'Raça'" filter="{ raca: 'text'}" sortable="'raca'">
                    {{animal.raca.descricao}}
                </td>
                <td title="Editar" style="cursor: pointer;" data-ng-click="vm.editarAnimal(animal)">
                    <i class="fa fa-pencil" style="font-size:large;color:#64AD64;"></i>
                </td>
                <td title="Excluir" style="cursor: pointer;" data-ng-click="vm.removerAnimal(animal)">
                    <i class="fa fa-trash" style="font-size:large;color:#EC5A5A;"></i>
                </td>
            </tr>
        </table>
    </div>

</div>
