<div class="modal-header">
    <h3 class="modal-title">{{vm.tituloPage()}}</h3>
</div>
<div class="modal-body jumbotron">
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>
                <input id="nome" type="text" data-ng-model="vm.animal.nome" class="form-control"></input>
            </th>
        </tr>
        <tr>
            <th>RFID</th>
            <th>
                <input id="rfid" type="text" data-ng-model="vm.animal.rfid" class="form-control"></input>
            </th>
        </tr>
        <tr>
            <th>Espécie</th>
            <th>
               <input type="text" data-ng-model="vm.animal.especie" uib-typeahead="especie as especie.descricao for especie in vm.especiesSelect | filter:$viewValue | limitTo:8" class="form-control">
            </th>
        </tr>
        <tr>
            <th>Raça</th>
            <th>
                <!--<select ng-options="raca as raca.descricao for raca in vm.racasSelect " class="form-control" data-ng-model="vm.animal.raca"></select>-->
                <input type="text" data-ng-model="vm.animal.raca" uib-typeahead="raca as raca.descricao for raca in vm.racasSelect | filter:$viewValue | limitTo:8" class="form-control">
            </th>
            <!--<th>
                <button type="button" class="btn btn-primary" ng-click="vm.openModalCadRaca()" title="Adicionar raça">
                    <i class="glyphicon glyphicon-plus"> </i>
                </button>
            </th>-->
        </tr>
        <tr>
            <th>Cor</th>
            <th>
                <!--<select ng-options="cor as cor.descricao for cor in vm.coresSelect " class="form-control" data-ng-model="vm.animal.cor"></select>-->
                <input type="text" data-ng-model="vm.animal.cor" uib-typeahead="cor as cor.descricao for cor in vm.coresSelect | filter:$viewValue | limitTo:8" class="form-control">
            </th>
            <!--<th>
                <button type="button" class="btn btn-primary" ng-click="vm.openModalCadCor()" title="Adicionar cor">
                    <i class="glyphicon glyphicon-plus"> </i>
                </button>
            </th>-->
        </tr>
        <tr>
            <th>Data de nascimento</th>
            <th>
                <input id="dtNascimento" type="date" name="input" data-ng-model="vm.animal.dtNascimento" class="form-control"></input>
            </th>
        </tr>
        <tr>
            <th>Sexo</th>
            <th>
                <select data-ng-model="vm.animal.sexo" class="form-control">
                    <option value="N_INFORMADO">Não informado</option>
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMININO">Feminino</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>Observação</th>
            <th>
                <textarea id="nome" type="text" data-ng-model="vm.animal.observacao" class="form-control"></textarea>
            </th>
        </tr>
        <tr>
            <th>Maturidade</th>
            <th>
                <select data-ng-model="vm.animal.maturidade" class="form-control">
                    <option value="FILHOTE">Filhote</option>
                    <option value="ADULTO">Adulto</option>
                    <option value="IDOSO">Idoso</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>Ong</th>
            <th>
                <!--<input id="nome" type="text" data-ng-model="vm.animal.ong" class="form-control"></input>-->
                <input type="text" data-ng-model="vm.animal.ong" uib-typeahead="ong as ong.nome for ong in vm.ongsSelect | filter:$viewValue | limitTo:8" class="form-control">
            </th>
        </tr>
        <tr>
            <th>Castrado</th>
            <th>
                <select data-ng-model="vm.animal.castrado" class="form-control">
                    <option value="SIM">Sim</option>
                    <option value="NAO">Não</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>Pai</th>
            <th>
                <input id="nome" type="text" data-ng-model="vm.animal.pai" uib-typeahead="pai as pai.nome for pai in vm.animais | filter:$viewValue | limitTo:8" class="form-control">
            </th>
        </tr>
        <tr>
            <th>Mãe</th>
            <th>
              <input id="nome" type="text" data-ng-model="vm.animal.mae" uib-typeahead="mae as mae.nome for mae in vm.animais | filter:$viewValue | limitTo:8" class="form-control">
            </th>
        </tr>
        <tr>
            <th>Dono</th>
            <th>
              <input id="nome" type="text" data-ng-model="vm.animal.dono" uib-typeahead="dono as dono.nome for dono in vm.animais | filter:$viewValue | limitTo:8" class="form-control">
            </th>
        </tr>

    </table>
</div>


<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.salvar()">Salvar e fechar</button>
    <button class="btn btn-primary" type="button" ng-click="vm.salvar(true)">Salvar e continuar</button>
    <button class="btn btn-warning" type="button" ng-click="vm.fechar()">fechar</button>
</div>
