<div>
        <li ng-repeat="animal in data"> 
        <div class="modal-header">
        <h3 class="modal-title">{{animal.nome}}</h3>
        </div>
        <div class="modal-body">
        <b>Especie:</b>{{animal.especie.descricao}}<br>
        <b>Data de nascimento:</b>{{animal.dtNascimento}}<br>
        <b>Cor:</b>{{animal.cor.descricao}}<br>
        <b>Situação:</b>{{animal.status}}<br>
        
        <br>
        <h4><spam>Dados de contato</spam><br></h4>
        <b>Nome do dono:</b>{{animal.dono.nome}}<br>
        <b>Telefone:</b>{{animal.dono.telefone}}<br>
        <b>ONG:</b>{{animal.ong.nome}}<br>
        <b>Telefone da ONG:</b>{{animal.ong.telefone}}<br>
        </div>
        </li>
        <p ng-show="!data.length">Não foi possivel localizar o animal com o numero digitado</p>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="fechar()">Fechar</button>
        </div>
</div>