<div class="row" ng-controller="DashboardCtrl as vm">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left"><i class="fa fa-paw"></i></div>
				<div class=title>{{vm.cadastros}}</div>
				<div class=comment>Cadastros</div>
			</rd-widget-body>
		</rd-widget>
	</div>
		<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left"><i class="fa fa-paw"></i></div>
				<div class=title>{{vm.doacoes}}</div>
				<div class=comment>Não adotados</div>
			</rd-widget-body
		</rd-widget>
	</div>
</div>