<div class="row" ng-controller="ongCtrl as vm">

  <div class="col-lg-12">
    <button type="button" class="btn btn-primary" ng-click="vm.openModal()">
      <i class="glyphicon glyphicon-plus" > </i>
      <span>Cadastrar uma ong</span>
    </button>
    <br></br>
    <table ng-table="vm.tableong" class="table" show-filter="true">
      <tr ng-repeat="ong in $data">
        <td title="'Nome'" filter="{nome:'text'}" sortable="'nome'">
          {{ong.nome}}
        </td>
        <td title="'Cidade'" filter="{ cidade: 'text'}" sortable="'cidade'">
          {{ong.cidade}}
        </td>
        <td title="'telefone'" filter="{ telefone: 'text'}" sortable="'bairro'">
          {{ong.telefone}}
        </td>
      </tr>
    </table>
  </div>

</div>
